<%@ Master Language="VB" MasterPageFile="~/Page.master" AutoEventWireup="false" CodeFile="Site.master.vb" Inherits="SiteMaster" %>
<%@ Register Src="~/Public/ui/controls/SiteHeader.ascx" TagPrefix="ks" TagName="SiteHeader" %>
<%@ Register Src="~/Public/ui/controls/SiteFooter.ascx" TagPrefix="ks" TagName="SiteFooter" %>
<%@ Register Src="~/Public/ui/controls/Breadcrumb.ascx" TagPrefix="ks" TagName="Breadcrumb" %>

<asp:Content ID="TitleContent1" ContentPlaceHolderID="TitleContent" runat="server">
    <asp:ContentPlaceHolder ID="TitleContent" runat="server" />
</asp:Content>

<asp:Content ID="HeadContent1" ContentPlaceHolderID="HeadContent" runat="server">
    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</asp:Content>

<asp:Content ID="HeaderContent1" ContentPlaceHolderID="HeaderContent" runat="server">
    <ks:SiteHeader ID="SiteHeader1" runat="server" />
</asp:Content>

<asp:Content ID="BreadcrumbContent1" ContentPlaceHolderID="BreadcrumbContent" runat="server">
    <asp:ContentPlaceHolder ID="BreadcrumbContent" runat="server">
        <ks:Breadcrumb ID="Breadcrumb1" runat="server" />
    </asp:ContentPlaceHolder>
</asp:Content>

<asp:Content ID="MainContent1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
</asp:Content>

<asp:Content ID="ContentPlaceHolder1_1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
</asp:Content>

<asp:Content ID="cph_1" ContentPlaceHolderID="cph" runat="server">
    <asp:ContentPlaceHolder ID="cph" runat="server" />
</asp:Content>

<asp:Content ID="FooterContent1" ContentPlaceHolderID="FooterContent" runat="server">
    <ks:SiteFooter ID="SiteFooter1" runat="server" />
</asp:Content>

<asp:Content ID="ScriptsContent1" ContentPlaceHolderID="ScriptsContent" runat="server">
    <asp:ContentPlaceHolder ID="ScriptsContent" runat="server" />
</asp:Content>
