html, body
{
	height: 100%;
	width:100%;
	overflow:hidden;
	font: normal 1em Cambria, Georgia, serif;
}

.int{
	font-weight:normal;
	font-size:1em;
	text-align:left;
	height:2000px;
	border:1px solid red;
	margin-top:0px;
	float:left;
}

#div1{
	height:1000px;
}

.bord{
	/*border:1px solid black;*/
	opacity:0.75;
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	padding:20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#container{
	position:absolute;
	width:70%;
	height:30%;
	top:5%;
	left:5%;
	border:1px solid black;
	overflow:hidden;
}

.demo0{
	color:black;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* W3C */
	height:100%;
	padding-top:12.5%;
	text-align:center;
	font-size:2em;
	font-weight:bold;
}

.demo1{
	color:white;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	padding-top:12.5%;
	text-align:center;
	font-size:2em;
	font-weight:bold;
	height:100%;
}

.demo2{
	color:white;
	background: #c9de96; /* Old browsers */
	background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
	height:100%;
	padding-top:12.5%;
	text-align:center;
	font-size:2em;
	font-weight:bold;
}

.demo3{
	color:white;
	background: #7993a8; /* Old browsers */
	background: -moz-linear-gradient(top, #7993a8 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7993a8), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7993a8 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7993a8 0%,#3f4c6b 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #7993a8 0%,#3f4c6b 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7993a8', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #7993a8 0%,#3f4c6b 100%); /* W3C */
	height:100%;
	text-align:center;
	font-size:2em;
	font-weight:bold;
}

.demo4{
	color:white;
	text-align:center;
	font-size:1.5em;
	font-weight:bold;
	overflow-y:auto;
	height:100%;
	
}

#slidingLinkMenu{
	position:absolute;
	width:70%;
	top:35%;
	left:5%;
	border:1px solid black;
	padding: 10px 0px 10px 0px;
	text-align:center;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	background: #66b6fc; /* Old browsers */
	background: -moz-linear-gradient(top, #66b6fc 0%, #b2e1ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66b6fc), color-stop(100%,#b2e1ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #66b6fc 0%,#b2e1ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #66b6fc 0%,#b2e1ff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #66b6fc 0%,#b2e1ff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b6fc', endColorstr='#b2e1ff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #66b6fc 0%,#b2e1ff 100%); /* W3C */
}

#slidingLinkMenu a{
	text-decoration:none;
	color:#3f4c6b;
}

#slidingLinkMenu a:hover{
	text-decoration:underline;
	color:#3f4c6b;
}

#slidingLinkMenu li{
	display:inline;
	list-style-type: none;
	padding-right: 5px;
}